Repository seedium/knexion: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, eslint -c .eslintrc.spec.yaml --fix

.lintstagedrc:

{
  "packages/**/lib/**/*.ts": [
    "eslint --fix",
    "prettier --write"
  ],
  "packages/**/tests/**/*.spec.ts": [
    "eslint -c .eslintrc.spec.yaml --fix"
  ]
}

feat(cursor-pagination): add cursor pagination interceptor
  .commitlintrc.json
  .pnp.cjs
  packages/cursor-pagination/.npmignore
  packages/cursor-pagination/README.md
  packages/cursor-pagination/index.ts
  packages/cursor-pagination/jest.config.js
  packages/cursor-pagination/lib/index.ts
  packages/cursor-pagination/lib/interceptors/cursor-pagination.interceptor.ts
  packages/cursor-pagination/lib/interceptors/index.ts
  packages/cursor-pagination/lib/interfaces/comparison-operator.interface.ts
  packages/cursor-pagination/lib/interfaces/cursor-pagination-options.interface.ts
  packages/cursor-pagination/lib/interfaces/index.ts
  packages/cursor-pagination/lib/interfaces/list-pagination-select-database-options.interface.ts
  packages/cursor-pagination/lib/interfaces/page-info.interface.ts
  packages/cursor-pagination/lib/interfaces/page-list.interface.ts
  packages/cursor-pagination/package.json
  packages/cursor-pagination/tests/cursor-pagination-interceptor.spec.ts
  packages/cursor-pagination/tsconfig.json
  packages/cursor-pagination/tsconfig.spec.json
  packages/sort/lib/interceptors/sort.interceptor.ts
  yarn.lock
Due: eslint --fix, prettier --write, eslint -c .eslintrc.spec.yaml --fix

chore(deps): adjust deps to new node version
  .pnp.cjs
  .yarn/cache/@types-node-npm-16.18.0-93523c19bb-4eb4b88012.zip
  .yarn/cache/@types-node-npm-16.18.2-00a57f687a-d21bb66149.zip
Due: none

chore: release v0.1.0-alpha.5
  CHANGELOG.md
  lerna.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/cursor-pagination/CHANGELOG.md
  packages/cursor-pagination/package.json
  packages/filter/CHANGELOG.md
  packages/filter/package.json
  packages/knexion-test-utils/CHANGELOG.md
  packages/knexion-test-utils/package.json
  packages/page-pagination/CHANGELOG.md
  packages/page-pagination/package.json
  packages/soft-delete/CHANGELOG.md
  packages/soft-delete/package.json
  packages/sort/CHANGELOG.md
  packages/sort/package.json
  packages/transform/CHANGELOG.md
  packages/transform/package.json
Due: none

fix(filter): fix filter value and omit undefined filters
  packages/filter/lib/interceptors/filter.interceptor.ts
  packages/filter/lib/interfaces/filter-options.interface.ts
Due: eslint --fix, prettier --write

chore: release v0.1.0-alpha.6
  CHANGELOG.md
  lerna.json
  packages/filter/CHANGELOG.md
  packages/filter/package.json
Due: none

chore: release v0.1.0-alpha.7
  CHANGELOG.md
  lerna.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/cursor-pagination/CHANGELOG.md
  packages/cursor-pagination/package.json
  packages/filter/CHANGELOG.md
  packages/filter/package.json
  packages/knexion-test-utils/CHANGELOG.md
  packages/knexion-test-utils/package.json
  packages/page-pagination/CHANGELOG.md
  packages/page-pagination/package.json
  packages/soft-delete/CHANGELOG.md
  packages/soft-delete/package.json
  packages/sort/CHANGELOG.md
  packages/sort/package.json
  packages/transform/CHANGELOG.md
  packages/transform/package.json
Due: none

chore: fix tslib dependency for projects
  packages/core/package.json
  packages/cursor-pagination/package.json
  packages/filter/package.json
  packages/page-pagination/package.json
  packages/soft-delete/package.json
  packages/sort/package.json
  packages/transform/package.json
Due: none

chore: release v0.1.0-alpha.8
  CHANGELOG.md
  lerna.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/cursor-pagination/CHANGELOG.md
  packages/cursor-pagination/package.json
  packages/filter/CHANGELOG.md
  packages/filter/package.json
  packages/knexion-test-utils/CHANGELOG.md
  packages/knexion-test-utils/package.json
  packages/page-pagination/CHANGELOG.md
  packages/page-pagination/package.json
  packages/soft-delete/CHANGELOG.md
  packages/soft-delete/package.json
  packages/sort/CHANGELOG.md
  packages/sort/package.json
  packages/transform/CHANGELOG.md
  packages/transform/package.json
Due: none

refactor(core): rename module options
  packages/core/lib/knexion-core.module.ts
  packages/core/lib/knexion.constants.ts
  packages/core/lib/knexion.module.ts
  packages/core/lib/knexion.providers.ts
  packages/core/lib/knexion.utils.ts
Due: eslint --fix, prettier --write

fix(cursor-pagination): add alias support
  packages/cursor-pagination/lib/interceptors/cursor-pagination.interceptor.ts
Due: eslint --fix, prettier --write

chore: release v0.1.0-alpha.9
  CHANGELOG.md
  lerna.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/cursor-pagination/CHANGELOG.md
  packages/cursor-pagination/package.json
  packages/filter/CHANGELOG.md
  packages/filter/package.json
  packages/knexion-test-utils/CHANGELOG.md
  packages/knexion-test-utils/package.json
  packages/page-pagination/CHANGELOG.md
  packages/page-pagination/package.json
  packages/soft-delete/CHANGELOG.md
  packages/soft-delete/package.json
  packages/sort/CHANGELOG.md
  packages/sort/package.json
  packages/transform/CHANGELOG.md
  packages/transform/package.json
Due: none

ci: run tests
  .github/workflows/pull-request-workflow.yml
Due: none

chore: add few backstage catalog info examples
  catalog-info.yaml
  packages/core/catalog-info.yaml
  packages/cursor-pagination/catalog-info.yaml
Due: none

chore: remove at symbol in the name of backstage name lib
  catalog-info.yaml
  packages/core/catalog-info.yaml
  packages/cursor-pagination/catalog-info.yaml
Due: none

chore: change slash separator to hyphen in backstage lib name
  packages/core/catalog-info.yaml
  packages/cursor-pagination/catalog-info.yaml
Due: none

chore: fix depends on statement
  packages/cursor-pagination/catalog-info.yaml
Due: none

chore: add catalog info to other packages
  packages/filter/catalog-info.yaml
  packages/page-pagination/catalog-info.yaml
  packages/soft-delete/catalog-info.yaml
  packages/sort/catalog-info.yaml
  packages/transform/catalog-info.yaml
Due: none

chore: change link icon name
  catalog-info.yaml
Due: none

chore: add links to each catalog info
  catalog-info.yaml
  packages/core/catalog-info.yaml
  packages/cursor-pagination/catalog-info.yaml
  packages/filter/catalog-info.yaml
  packages/page-pagination/catalog-info.yaml
  packages/soft-delete/catalog-info.yaml
  packages/sort/catalog-info.yaml
  packages/transform/catalog-info.yaml
Due: none

docs: add mkdocs documentation
  catalog-info.yaml
  docs/getting_started.md
  docs/index.md
  mkdocs.yml
Due: none

docs: add reference to docs for core package
  packages/core/catalog-info.yaml
Due: none

docs: add annotations with ref to docs to all packages
  packages/cursor-pagination/catalog-info.yaml
  packages/filter/catalog-info.yaml
  packages/page-pagination/catalog-info.yaml
  packages/soft-delete/catalog-info.yaml
  packages/sort/catalog-info.yaml
  packages/transform/catalog-info.yaml
Due: none

chore: fix lock dependencies
  .pnp.cjs
  .yarn/cache/@nrwl-nx-darwin-arm64-npm-15.8.5-c9dbc9f908-8.zip
  .yarn/cache/tslib-npm-2.4.1-36f0ed04db-19480d6e03.zip
  yarn.lock
Due: none

fix(filter): use passed timestamp column name
  packages/filter/lib/interceptors/filter-timestamp.interceptor.ts
Due: eslint --fix, prettier --write

chore: release v0.1.0-alpha.10
  CHANGELOG.md
  lerna.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/cursor-pagination/CHANGELOG.md
  packages/cursor-pagination/package.json
  packages/filter/CHANGELOG.md
  packages/filter/package.json
  packages/knexion-test-utils/CHANGELOG.md
  packages/knexion-test-utils/package.json
  packages/page-pagination/CHANGELOG.md
  packages/page-pagination/package.json
  packages/soft-delete/CHANGELOG.md
  packages/soft-delete/package.json
  packages/sort/CHANGELOG.md
  packages/sort/package.json
  packages/transform/CHANGELOG.md
  packages/transform/package.json
Due: none

feat(sort): allow to sort by nested jsonb property
  packages/sort/lib/interceptors/sort.interceptor.ts
Due: eslint --fix, prettier --write

feat(cursor-pagination): allow to paginate through nested json property
  packages/cursor-pagination/lib/interceptors/cursor-pagination.interceptor.ts
Due: eslint --fix, prettier --write

fix(sort): prevent sql injection by get column name using raw bindings
  packages/sort/lib/interceptors/sort.interceptor.ts
Due: eslint --fix, prettier --write

chore: release v0.1.0-alpha.11
  CHANGELOG.md
  lerna.json
  packages/cursor-pagination/CHANGELOG.md
  packages/cursor-pagination/package.json
  packages/sort/CHANGELOG.md
  packages/sort/package.json
Due: none

fix(cursor-pagination): remove casting to integer sort field
  packages/cursor-pagination/lib/interceptors/cursor-pagination.interceptor.ts
Due: eslint --fix, prettier --write

chore: release v0.1.0-alpha.12
  CHANGELOG.md
  lerna.json
  packages/cursor-pagination/CHANGELOG.md
  packages/cursor-pagination/package.json
Due: none

feat: add sorting by joined column
  packages/cursor-pagination/lib/interceptors/cursor-pagination.interceptor.ts
  packages/sort/lib/interceptors/sort.interceptor.ts
  packages/sort/lib/utils/build-sort-path.ts
  packages/sort/lib/utils/index.ts
Due: eslint --fix, prettier --write

chore: release v0.1.0-alpha.13
  CHANGELOG.md
  lerna.json
  packages/cursor-pagination/CHANGELOG.md
  packages/cursor-pagination/package.json
  packages/sort/CHANGELOG.md
  packages/sort/package.json
Due: none

feat: add sort expression feature
  packages/cursor-pagination/lib/interceptors/cursor-pagination.interceptor.ts
  packages/sort/lib/interceptors/sort.interceptor.ts
  packages/sort/lib/utils/build-sort-path.ts
  packages/sort/lib/utils/extract-modifiers.ts
  packages/sort/lib/utils/index.ts
Due: eslint --fix, prettier --write

chore: release v0.1.0-alpha.14
  CHANGELOG.md
  lerna.json
  packages/cursor-pagination/CHANGELOG.md
  packages/cursor-pagination/package.json
  packages/sort/CHANGELOG.md
  packages/sort/package.json
Due: none

chore: install yarn sdks
  .yarn/sdks/eslint/bin/eslint.js
  .yarn/sdks/eslint/lib/api.js
  .yarn/sdks/eslint/lib/unsupported-api.js
  .yarn/sdks/eslint/package.json
  .yarn/sdks/integrations.yml
  .yarn/sdks/prettier/bin-prettier.js
  .yarn/sdks/prettier/index.js
  .yarn/sdks/prettier/package.json
  .yarn/sdks/typescript/bin/tsc
  .yarn/sdks/typescript/bin/tsserver
  .yarn/sdks/typescript/lib/tsc.js
  .yarn/sdks/typescript/lib/tsserver.js
  .yarn/sdks/typescript/lib/tsserverlibrary.js
  .yarn/sdks/typescript/lib/typescript.js
  .yarn/sdks/typescript/package.json
Due: none
