Repository seedium/knexion: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, eslint -c .eslintrc.spec.yaml --fix

ci: fix build job and change name for lint commit
  .github/workflows/pull-request-workflow.yml
Due: none

feat: move out test utils to separate package
  .commitlintrc.json
  .gitignore
  .pnp.cjs
  packages/core/package.json
  packages/core/tests/integration/database-indicator.spec.ts
  packages/core/tests/integration/interceptors.spec.ts
  packages/core/tests/integration/knex-transaction-service.spec.ts
  packages/core/tests/integration/module.spec.ts
  packages/core/tests/integration/repository.spec.ts
  packages/core/tests/utils/index.ts
  packages/knexion-test-utils/README.md
  packages/knexion-test-utils/index.ts
  packages/knexion-test-utils/lib/build-test-knexion-module.ts
  packages/knexion-test-utils/lib/build-test-repository.ts
  packages/knexion-test-utils/lib/get-knex.ts
  packages/knexion-test-utils/lib/index.ts
  packages/knexion-test-utils/package.json
  packages/knexion-test-utils/tsconfig.json
  packages/knexion-test-utils/tsconfig.spec.json
  yarn.lock
Due: eslint --fix, prettier --write, eslint -c .eslintrc.spec.yaml --fix

chore(knexion-test-utils): add clean script
  packages/knexion-test-utils/package.json
Due: none

feat(page-pagination): create new package
  .github/ISSUE_TEMPLATE.md
  .pnp.cjs
  packages/page-pagination/.npmignore
  packages/page-pagination/README.md
  packages/page-pagination/index.ts
  packages/page-pagination/jest.config.js
  packages/page-pagination/lib/index.ts
  packages/page-pagination/lib/interceptors/index.ts
  packages/page-pagination/lib/interceptors/page-pagination.interceptor.ts
  packages/page-pagination/lib/interfaces/index.ts
  packages/page-pagination/lib/interfaces/list-pagination-select-database-options.interface.ts
  packages/page-pagination/lib/interfaces/page-list.interface.ts
  packages/page-pagination/lib/interfaces/page-pagination-interceptor-options.interface.ts
  packages/page-pagination/package.json
  packages/page-pagination/tests/paga-pagination-interceptor.spec.ts
  packages/page-pagination/tsconfig.json
  packages/page-pagination/tsconfig.spec.json
  yarn.lock
Due: eslint --fix, prettier --write, eslint -c .eslintrc.spec.yaml --fix

chore: exclude put jest config into package bundle
  packages/core/.npmignore
  packages/page-pagination/.npmignore
Due: none

chore: install peer dependencies nx
  .pnp.cjs
  .yarn/cache/@nrwl-cli-npm-15.0.3-fe7c9aa157-5ce4a3a1b7.zip
  .yarn/cache/@nrwl-tao-npm-15.0.3-f9e5435d73-5b64088ede.zip
  .yarn/cache/nx-npm-15.0.3-12c4ac959a-17f4322025.zip
  package.json
  yarn.lock
Due: none

chore: change publish command to version
  .gitignore
  lerna.json
  package.json
  packages/knexion-test-utils/package.json
Due: none

chore: release vv0.0.1-alpha.0
  CHANGELOG.md
  lerna.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/knexion-test-utils/CHANGELOG.md
  packages/knexion-test-utils/package.json
  packages/page-pagination/CHANGELOG.md
  packages/page-pagination/package.json
Due: none

chore: fix release comment message
  lerna.json
Due: none

ci: add release workflow
  .github/workflows/release-workflow.yml
Due: none

ci: fix workflow name
  .github/workflows/release-workflow.yml
Due: none

chore: build packages before publish
  package.json
Due: none

chore: remove pre publish script
  package.json
Due: none

chore: release v0.0.1-alpha.1
  CHANGELOG.md
  lerna.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/knexion-test-utils/CHANGELOG.md
  packages/knexion-test-utils/package.json
  packages/page-pagination/CHANGELOG.md
  packages/page-pagination/package.json
Due: none

ci: skip all questions when publish packages
  .github/workflows/release-workflow.yml
Due: none

chore: release v0.0.1-alpha.2
  CHANGELOG.md
  lerna.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/knexion-test-utils/CHANGELOG.md
  packages/knexion-test-utils/package.json
  packages/page-pagination/CHANGELOG.md
  packages/page-pagination/package.json
Due: none

chore: change publish strategy
  package.json
Due: none

chore: release v0.0.1-alpha.3
  CHANGELOG.md
  lerna.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/knexion-test-utils/CHANGELOG.md
  packages/knexion-test-utils/package.json
  packages/page-pagination/CHANGELOG.md
  packages/page-pagination/package.json
Due: none

fix(core): fix retrieve default return type
  packages/core/lib/repository.ts
Due: eslint --fix, prettier --write

chore: fix version dependencies
  renovate.json
Due: none

chore: allow deps scope in commit message
  .commitlintrc.json
Due: none

chore: release v0.1.0-alpha.0
  CHANGELOG.md
  lerna.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/filter/CHANGELOG.md
  packages/filter/package.json
  packages/knexion-test-utils/CHANGELOG.md
  packages/knexion-test-utils/package.json
  packages/page-pagination/CHANGELOG.md
  packages/page-pagination/package.json
  packages/soft-delete/CHANGELOG.md
  packages/soft-delete/package.json
  packages/sort/CHANGELOG.md
  packages/sort/package.json
  packages/transform/CHANGELOG.md
  packages/transform/package.json
Due: none

ci: fix release job name
  .github/workflows/release-workflow.yml
Due: none

fix: small adjustments
  packages/core/lib/execution-context.ts
  packages/core/lib/interfaces/database-options.interface.ts
  packages/core/lib/interfaces/knexion-module-options.interface.ts
  packages/core/lib/interfaces/repository-interceptor.interface.ts
  packages/core/lib/repository.ts
  packages/sort/lib/interceptors/sort.interceptor.ts
  packages/transform/lib/decorators/field-transform.decorator.ts
  packages/transform/lib/interceptors/field-transform.interceptor.ts
  packages/transform/lib/interfaces/field-transform-options.interface.ts
Due: eslint --fix, prettier --write

chore: release v0.1.0-alpha.1
  CHANGELOG.md
  lerna.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/filter/CHANGELOG.md
  packages/filter/package.json
  packages/knexion-test-utils/CHANGELOG.md
  packages/knexion-test-utils/package.json
  packages/page-pagination/CHANGELOG.md
  packages/page-pagination/package.json
  packages/soft-delete/CHANGELOG.md
  packages/soft-delete/package.json
  packages/sort/CHANGELOG.md
  packages/sort/package.json
  packages/transform/CHANGELOG.md
  packages/transform/package.json
Due: none

feat: rename interfaces, decorators, etc
  packages/core/lib/decorators/entity-repository.decorator.ts
  packages/core/lib/decorators/index.ts
  packages/core/lib/decorators/knexion-repository.decorator.ts
  packages/core/lib/decorators/use-knexion-interceptors.decorator.ts
  packages/core/lib/decorators/use-repository-interceptors.decorator.ts
  packages/core/lib/index.ts
  packages/core/lib/interceptors-consumer.ts
  packages/core/lib/interfaces/database-options.interface.ts
  packages/core/lib/interfaces/entity-repository-options.interface.ts
  packages/core/lib/interfaces/index.ts
  packages/core/lib/interfaces/knexion-repository-options.interface.ts
  packages/core/lib/interfaces/repository-interceptor.interface.ts
  packages/core/lib/knexion-context.ts
  packages/core/lib/knexion.constants.ts
  packages/core/lib/repository.ts
  packages/core/tests/integration/database-indicator.spec.ts
  packages/core/tests/integration/interceptors.spec.ts
  packages/core/tests/integration/module.spec.ts
  packages/filter/lib/interceptors/filter-by-array.interceptor.ts
  packages/filter/lib/interceptors/filter-by-number-range.interceptor.ts
  packages/filter/lib/interceptors/filter-timestamp.interceptor.ts
  packages/filter/lib/interceptors/filter.interceptor.ts
  packages/knexion-test-utils/lib/build-test-repository.ts
  packages/page-pagination/lib/interceptors/page-pagination.interceptor.ts
  packages/soft-delete/lib/interceptors/filter-soft-deleted.interceptor.ts
  packages/sort/lib/interceptors/sort.interceptor.ts
  packages/transform/lib/interceptors/field-transform.interceptor.ts
  packages/transform/tests/field-transform-interceptor.spec.ts
Due: eslint --fix, prettier --write, eslint -c .eslintrc.spec.yaml --fix

chore: release v0.1.0-alpha.2
  CHANGELOG.md
  lerna.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/filter/CHANGELOG.md
  packages/filter/package.json
  packages/knexion-test-utils/CHANGELOG.md
  packages/knexion-test-utils/package.json
  packages/page-pagination/CHANGELOG.md
  packages/page-pagination/package.json
  packages/soft-delete/CHANGELOG.md
  packages/soft-delete/package.json
  packages/sort/CHANGELOG.md
  packages/sort/package.json
  packages/transform/CHANGELOG.md
  packages/transform/package.json
Due: none

feat: add execution context with switching functionality
  packages/core/lib/helpers/index.ts
  packages/core/lib/helpers/knexion-execution-context-host.ts
  packages/core/lib/index.ts
  packages/core/lib/interceptors-consumer.ts
  packages/core/lib/interfaces/database-options.interface.ts
  packages/core/lib/interfaces/index.ts
  packages/core/lib/interfaces/knexion-arguments-host.interface.ts
  packages/core/lib/interfaces/knexion-execution-contex.interface.ts
  packages/core/lib/interfaces/repository-interceptor.interface.ts
  packages/core/lib/knexion-context.ts
  packages/core/lib/repository.ts
  packages/core/tests/integration/interceptors.spec.ts
  packages/filter/lib/interceptors/filter-by-array.interceptor.ts
  packages/filter/lib/interceptors/filter-by-number-range.interceptor.ts
  packages/filter/lib/interceptors/filter-timestamp.interceptor.ts
  packages/filter/lib/interceptors/filter.interceptor.ts
  packages/page-pagination/lib/interceptors/page-pagination.interceptor.ts
  packages/page-pagination/tests/paga-pagination-interceptor.spec.ts
  packages/soft-delete/lib/interceptors/filter-soft-deleted.interceptor.ts
  packages/sort/lib/interceptors/sort.interceptor.ts
  packages/transform/lib/interceptors/field-transform.interceptor.ts
Due: eslint --fix, prettier --write, eslint -c .eslintrc.spec.yaml --fix

chore: release v0.1.0-alpha.3
  CHANGELOG.md
  lerna.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/filter/CHANGELOG.md
  packages/filter/package.json
  packages/knexion-test-utils/CHANGELOG.md
  packages/knexion-test-utils/package.json
  packages/page-pagination/CHANGELOG.md
  packages/page-pagination/package.json
  packages/soft-delete/CHANGELOG.md
  packages/soft-delete/package.json
  packages/sort/CHANGELOG.md
  packages/sort/package.json
  packages/transform/CHANGELOG.md
  packages/transform/package.json
Due: none

fix(core): fix retrieving handler name from undefined
  packages/core/lib/repository.ts
Due: eslint --fix, prettier --write

chore: release v0.1.0-alpha.4
  CHANGELOG.md
  lerna.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/filter/CHANGELOG.md
  packages/filter/package.json
  packages/knexion-test-utils/CHANGELOG.md
  packages/knexion-test-utils/package.json
  packages/page-pagination/CHANGELOG.md
  packages/page-pagination/package.json
  packages/soft-delete/CHANGELOG.md
  packages/soft-delete/package.json
  packages/sort/CHANGELOG.md
  packages/sort/package.json
  packages/transform/CHANGELOG.md
  packages/transform/package.json
Due: none

Path conditions:
  eslint --fix: any of: packages/**/lib/**/*.ts
  prettier --write: any of: packages/**/lib/**/*.ts
  eslint -c .eslintrc.spec.yaml --fix: any of: packages/**/tests/**/*.spec.ts
